# Archivos y carpetas específicos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Archivos de PyInstaller
# *.manifest
*.spec

# Archivos de PyQt
*.ui.autosave

# Carpetas y archivos de entorno virtual
venv/
ENV/
env/
.env

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs y bases de datos
*.log
*.sql
*.sqlite